{% extends "base.html" %}
{% block content %}
    <div class="main">
        <div class="row mt-5">
            {% for trim_name, trim_options in trims.items() %}
                <div class="col-sm">
                    <div class="card text-center">
                        <div class="card-body">
                            <h5 class="card-title">{{ trim_name }}</h5>
                            {% for trim_option in trim_options %}
                                <hr>
                                <p class="card-text">{{ trim_option.name }}</p>
                                <p class="card-text text-success font-weight-bold">{{ trim_option.price }}</p>
                                <p class="card-text text-secondary small">{{ trim_option.availability }}</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            {#            <div class="col-sm">#}
            {#                <div class="card text-center">#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title">Long Range AWD</h5>#}
            {#                        <p class="card-text text-success font-weight-bold">{{ trims.lr_awd.price }}</p>#}
            {#                        <p class="card-text text-secondary small">{{ trims.lr_awd.availability }}</p>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
            {#            <div class="col-sm">#}
            {#                <div class="card text-center">#}
            {#                    <div class="card-body">#}
            {#                        <h5 class="card-title">Performance AWD</h5>#}
            {#                        <p class="card-text text-success font-weight-bold">{{ trims.lr_perf.price }}</p>#}
            {#                        <p class="card-text text-secondary small">{{ trims.lr_perf.availability }}</p>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}
        </div>
        <div class="row mt-5">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Paint Options</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for paint_name, paint_price in paint.items() %}
                            <li class="list-group-item">
                                {{ paint_name }}
                                <span class="list-price">{{ paint_price }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                        <h5 class="card-title">Wheel Options</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for wheel_name, wheel_price in wheels.items() %}
                            <li class="list-group-item">
                                {{ wheel_name }}
                                <span class="list-price">{{ wheel_price }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title ">Interior Options</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for interior_name, interior_price in interiors.items() %}
                            <li class="list-group-item">
                                {{ interior_name }}
                                <span class="list-price">{{ interior_price }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                    <div class="card-body">
                        <h5 class="card-title">Misc</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            EAP
                            <span class="list-price">{{ eap.price }}</span>
                            <span class="list-price text-secondary small">{{ eap.later }}</span>
                        </li>
                        <li class="list-group-item">
                            {{ std_battery }}
                        </li>
                    </ul>
                    <div class="card-body">
                        <h5 class="card-title">Incentives</h5>
                    </div>
                    <ul class="list-group list-group-flush">
                        {% for region, amount in incentives.items() %}
                            <li class="list-group-item">
                                {{ region }}
                                <span class="list-price">{{ amount }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-sm text-center">
            <p class="text-secondary small">
                All amounts shown are CAD and exclude any taxes, fees and savings.
            </p>
            <p class="text-secondary small">
                Last Updated: <span id="last_update">{{ last_updated }}</span> UTC
                <br>
                Last Change: <span id="last_change">{{ last_changed }}</span> UTC
                <br>
                Updates every 4 hours
            </p>
            <p class="text-secondary small">
                Built by <a class="text-dark" href="https://github.com/MarcDufresne">MarcDufresne</a>
                <br>
                Inspired by <a class="text-dark" href="https://webxl.net/tesla3/">WebXL's Model 3 Price Checker</a>
            </p>
        </div>
    </div>
{% endblock %}
